/* Footer */
#contact {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.contact__link {
    transition: color 250ms ease-in;
}

.contact__link:hover {
    color: var(--color-accent);
}
