/* Home */
#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
    position: relative;
}

#home::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    width: calc(100% + 1.3px);
    height: 60px;
    background-color: var(--color-white);
    mask: var(--divider-single-wave);
    -webkit-mask: var(--divider-single-wave);
}

.home__avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    color: var(--color-black);
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}
