@media screen and (max-width: 768px) {
    .section {
        padding: 3rem 2rem;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
    }

    .header__menu {
        flex-direction: column;
        text-align: center;
        padding: 1rem 4rem;
        gap: 1rem;
    }

    .header__nav {
        width: 100%;
    }

    #home {
        padding-bottom: 3rem;
    }

    .home__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .majors {
        flex-direction: column;
        align-items: center;
    }

    .major {
        max-width: 25rem;
        width: 100%;
    }

    .job {
        justify-content: center;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    .categories {
        flex-direction: column;
    }

    .category {
        width: 100%;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial {
        flex-direction: column;
    }

    .testimonial:nth-child(even) .testimonial__img {
        order: 0;
    }

    .arrow-up {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}
